* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 10rem;
}

h1 {
  font-size: 4rem;
}

/* button part */

button {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button {
  background-color: rgb(41, 121, 41);
}
.add-button:hover {
  background-color: rgb(53, 150, 53);
}

.delete-button {
  background-color: rgb(189, 8, 8);
}
.delete-button:hover {
  background-color: rgb(212, 11, 11);
}

.move-button {
  background-color: rgb(47, 8, 189);
}
.move-button:hover {
  background-color: rgb(58, 11, 231);
}

.delete-button,
.move-button {
  padding: 8px;
  font-size: 1.4rem;
  margin-left: 10px;
}

/**************************/

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.432);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.384);
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 16px;
  background-color: rgb(240, 238, 238);
  margin-bottom: 10px;
  border: 2px solid rgba(161, 159, 159, 0.37);
  border-radius: 4px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  cursor: move;
}

.text {
  flex: 1;
}
